.container {
    margin: 0;
}

.autonumberdiv {
    float: left;
    width: 75%;
    overflow: hidden;
}

.refreshdiv {
    float: left;
    width: 25%;
    overflow: hidden;
}

.refreshimage {
    cursor: pointer;
    content: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAMDAwMDAwQEBAQFBQUFBQcHBgYHBwsICQgJCAsRCwwLCwwLEQ8SDw4PEg8bFRMTFRsfGhkaHyYiIiYwLTA+PlQBAwMDAwMDBAQEBAUFBQUFBwcGBgcHCwgJCAkICxELDAsLDAsRDxIPDg8SDxsVExMVGx8aGRofJiIiJjAtMD4+VP/AABEIABQAFAMBIgACEQEDEQH/xABtAAEBAQEBAAAAAAAAAAAAAAAABwUIBhAAAgICAQQCAgMAAAAAAAAAAQIDBAUGAAcREjEIUSEiExQyAQEBAQAAAAAAAAAAAAAAAAAFBAYRAAMAAQQDAQEAAAAAAAAAAAECAwQAERNRBSExBkH/2gAMAwEAAhEDEQA/AOgdv3rJZTrFNf13NQRJhaqY+EqRNDOJVE05ZO4DKWZex+156SvmurOZqnI4rMZq/EjuokrUKiQFomKOFV1BfxIIPMjp5smkyaxU1ndtYWa/hUNA2DjxZZhX/RQxQeaOvrmHhsztXTKxm2wE8DYi1kXsV62SrnzKOo9hJAUI/wA/bAA8xb3mrvkV8jXhq5JSTFXk3RXobawD5KB3ybeTtw2csyRcq8W6K9DbbVLwHyNwtOi9LbBLDk6s7RSfwwlA4UDszI/5R/YZeOR3MdH9s+Qb196hsYvA/wBuEwPCJJXFg1ZGiE4/X04HHFJZHl+NONEsmwKUYFSyn4SO9Jyyv0AmnDOd5kApVgVZ1Pwkd67Bz/THSdrvNfv44rcKqHs15pK8jgevMxFfL6BPJn1E6SaHQ0DZLFTHSRW6eLtWoLhsSyzpJWQyL2aVn/BI7MOOOJZOHiMlnaEizI27FBufWmsvBwnnkO2NEu023YoCT61ZdPxVPFathKFVPCvVxtWOMfQEY4445YgARQOhq+YAmgH8Ua//2Q==);
}
